<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZTreVYDmFRNvTG1u0mNwE3TKsrZ9xRzg</string>
	<key>GCM_SENDER_ID</key>
	<string>1044473479741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notifyJu</string>
	<key>PROJECT_ID</key>
	<string>medimind-707fa</string>
	<key>STORAGE_BUCKET</key>
	<string>medimind-707fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044473479741:ios:8a8b506d6031ffaa3ae054</string>
</dict>
</plist>